{
            "gwas_experiments": {"/users/mgloud/projects/gwas/data/prepared/CHD_CARDIoGRAMplusC4D_Mixed.prepared.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only"}},
            "eqtl_experiments": {"/users/mgloud/projects/brain_gwas/scripts/auxiliary/pivus/eqtls_70.txt.gz": {"ref": "1kgenomes", "eqtl_format": "tstat", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/pivus/pivus_examples.txt"},
                                    "/users/mgloud/projects/brain_gwas/scripts/auxiliary/pivus/eqtls_80.txt.gz": {"ref": "1kgenomes", "eqtl_format": "tstat", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/pivus/pivus_examples.txt"}},
            
            "selection_basis":
                    "eqtl",
            "gwas_threshold": 1,
            "eqtl_threshold": 1,
            "methods": {
                    "finemap":{}
            },
            "plot_all": "True",
            "window": 2000000,
            "ref_genomes": {
                   "1kgenomes": {
                            "file": "/mnt/lab_data/montgomery/shared/1KG/ALL.chr{0}.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz",
                            "af_attribute": "AF",
                            "N": 2504
                    }

            }
    }